apiVersion: v1
kind: Service
metadata:
  name: block-diagram-session-service
  namespace: block-diagram
  labels:
    app: block-diagram-session-service
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app: block-diagram-session-service
